*{
    margin: 0;
    padding: 0;
}
head{
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Ubuntu', sans-serif;
}
#banner{
    background-color: #ffc657;
    background-position: center;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
} 
header ul li{
    display: inline;
    padding: 25px;
}
header ul li a{
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    color: #3d2514;
}
#banner-content{
    display: flex;
    justify-content: space-around;
}
.banner-text{
    width: 20%;
    padding-top: 10%;
    text-align: justify;
}
.banner-text p{
    font-family: "lato";
    font-weight: 600;
    border: dashed 1px #3d2514;
    box-shadow: -2px -2px #3d2514;
    padding: 10px;
    font-size: 15px;
    text-align: center;
}
.banner-text h1{
    font-family: "Ubuntu";
    font-weight: 900;
    font-size: 100px;
    color: #3d2514;
}
#banner-content img{
    width: 40%;
}
.try{
    height: 100vh;
}
.try img{
    width: 100%;
    height: 110%;
}
.tasty{
    text-align: center;
    height: 40vh;
    
}
#always{
    font-family: "lato";
    text-transform: uppercase;
    border: solid 1px #ffc045;
    padding: 15px;
    background-color: #ffc045;
    font-weight: 600;
    color: #3d2514;
}
.tasty h2{
    padding: 20px;
    font-family: "Ubuntu";
    font-weight: 900;
    font-size: 50px;
    color: #3d2514;
}
.tasty p{
    font-family: "lato";
    font-size: 20px;
    font-weight: 400;
    color: #3d2514;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}
.burger{
    display: flex;
    text-align: center;
    padding-bottom: 50px;
}
.burger img{
    width: 100%;
}
.burger h2{
    font-size: 40px;
    font-weight: 600;
    color: #3d2514;
    padding-bottom: 20px;
}
.button a{
    text-decoration: none;
    border: solid 1px #bf2222;
    background-color: #bf2222;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 400; 
}
.booking-form{
    text-align: center;
    background-image: url(images/burger-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    padding: 8% 10%;
}
.booking-form h2{
    color: white;
    font-family: "Lato";
    text-align: center;
    font-size: 2.5rem;
    padding-top: 50px;
}
form{
    background-color: rgba(255, 255, 255, 0.541);
    ;
    padding: 5% 10%;
}
input[type=text],
select{
    width: 60%;
    padding: 20px 20px;
    margin: 0 auto;
    border: 2px solid #3d2514;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    background: transparent;
}
input[type=email],
select{
    width: 60%;
    padding: 20px 20px;
    margin: 0 auto;
    border: 2px solid #3d2514;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    background: transparent;
}
input[type=date],
select{
    width: 60%;
    padding: 20px 20px;
    margin: 0 auto;
    border: 2px solid #3d2514;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    background: transparent;
}
input[type=time],
select{
    width: 60%;
    padding: 20px 20px;
    margin: 0 auto;
    border: 2px solid #3d2514;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    background: transparent;
}
input[type=submit] {
    width: 60%;
    background-color: #bf2222;
    color: white;
    padding: 20px 20px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 3%;
}
footer{
    background-image: url(images/burger-with.png);
    opacity: 0.8;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    padding: 2%;
}       
.footer-start{
    display: flex;
    padding: 20px;
}   
.footer-start p{
    font-family: "lato";
    font-weight: 500;
    color: #ffc045;
    width: 50%;
    padding: 20px;
}
.footer-end{
    font-family: "lato";
    font-weight: 400;
    color: #ffc045;
    width: 50%;
    padding: 20px;
}  